body {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1);
}

.layout-box #header-inner-wrap,
#header-inner-wrap,
body.header-transparent #header #header-inner-wrap.no-transparent,
.left-header .sb-slidebar.sb-left,
.left-header .sb-slidebar.sb-left #slidebar-menu a::before {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1);
}

#mobile-menu,
#mobile-menu ul {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1);
}

#mobile-menu li {
    border-bottom-color: #efefef;
}


body.header-transparent #header-inner-wrap {
    background: transparent;
}

.be-gdpr-modal-item input:checked+.slider {
    background-color: #38d2d9;
}

.be-gdpr-modal-iteminput:focus+.slider {
    box-shadow: 0 0 1px #38d2d9;
}

.be-gdpr-modal-item .slider:before {
    background-color: #ffffff;
}

.be-gdpr-cookie-notice-bar .be-gdpr-cookie-notice-button {
    background: #38d2d9;
    color: #ffffff;
}

#header .header-border {
    border-bottom: none #ffffff;
}

#header-top-bar {
    background-color: rgb(50, 50, 50);
    background-color: rgba(50, 50, 50, 0.85);
    border-bottom: none #323232;
    color: #ffffff;
}

#header-top-bar #topbar-menu li a {
    color: #ffffff;
}

#header-bottom-bar {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.00);
    border-top: none #;
    border-bottom: none #;
}

/*Adjusted the timings for the new effects*/
body.header-transparent #header #header-inner-wrap {
    -webkit-transition: background .25s ease, box-shadow .25s ease, opacity 700ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 700ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: background .25s ease, box-shadow .25s ease, opacity 700ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 700ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: background .25s ease, box-shadow .25s ease, opacity 700ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 700ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background .25s ease, box-shadow .25s ease, opacity 700ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 700ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

body.header-transparent.semi #header .semi-transparent {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.62);
     !important;
}

#content,
#blog-content {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1);
}

#bottom-widgets {
    background-color: rgb(242, 243, 248);
    background-color: rgba(242, 243, 248, 1);
}

#footer {
    background-color: rgb(15, 15, 15);
    background-color: rgba(15, 15, 15, 1);
}

#footer .footer-border {
    border-bottom: none;
}

.page-title-module-custom {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1);
}

#portfolio-title-nav-wrap {
    background-color: #ededed;
}

#navigation .sub-menu,
#navigation .children,
#navigation-left-side .sub-menu,
#navigation-left-side .children,
#navigation-right-side .sub-menu,
#navigation-right-side .children {
    background-color: rgb(31, 31, 31);
    background-color: rgba(31, 31, 31, 1);
}

.sb-slidebar.sb-right {
    background-color: rgb(26, 26, 26);
    background-color: rgba(26, 26, 26, 1);
}

.left-header .left-strip-wrapper,
.left-header #left-header-mobile {
    background-color: #ffffff;
}

.layout-box-top,
.layout-box-bottom,
.layout-box-right,
.layout-box-left,
.layout-border-header-top #header-inner-wrap,
.layout-border-header-top.layout-box #header-inner-wrap,
body.header-transparent .layout-border-header-top #header #header-inner-wrap.no-transparent {
    background-color: rgb(211, 211, 211);
    background-color: rgba(211, 211, 211, 1);
}

.left-header.left-sliding.left-overlay-menu .sb-slidebar {
    background-color: rgb(8, 8, 8);
    background-color: rgba(8, 8, 8, 0.94);
}

.top-header.top-overlay-menu .sb-slidebar {
    background-color: rgb(26, 26, 26);
    background-color: rgba(26, 26, 26, 1);
}

.search-box-wrapper {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.85);
}

.search-box-wrapper.style1-header-search-widget input[type="text"] {
    background-color: transparent !important;
    color: #000000;
    border: 1px solid #000000;
}

.search-box-wrapper.style2-header-search-widget input[type="text"] {
    background-color: transparent !important;
    color: #000000;
    border: none !important;
    box-shadow: none !important;
}

.search-box-wrapper .searchform .search-icon {
    color: #000000;
}

#header-top-bar-right .search-box-wrapper.style1-header-search-widget input[type="text"] {
    border: none;
}


.post-title,
.post-date-wrap {
    margin-bottom: 12px;
}

/* ======================
        Dynamic Border Styling
       ====================== */


.layout-box-top,
.layout-box-bottom {
    height: 30px;
}

.layout-box-right,
.layout-box-left {
    width: 30px;
}

#main.layout-border,
#main.layout-border.layout-border-header-top {
    padding: 30px;
}

.left-header #main.layout-border {
    padding-left: 0px;
}

#main.layout-border.layout-border-header-top {
    padding-top: 0px;
}

.be-themes-layout-layout-border #logo-sidebar,
.be-themes-layout-layout-border-header-top #logo-sidebar {
    margin-top: 70px;
}

/*Left Static Menu*/
.left-header.left-static.be-themes-layout-layout-border #main-wrapper {
    margin-left: 310px;
}

.left-header.left-static.be-themes-layout-layout-border .sb-slidebar.sb-left {
    left: 30px;
}

/*Right Slidebar*/

body.be-themes-layout-layout-border-header-top .sb-slidebar.sb-right,
body.be-themes-layout-layout-border .sb-slidebar.sb-right {
    right: -250px;
}

.be-themes-layout-layout-border-header-top .sb-slidebar.sb-right.opened,
.be-themes-layout-layout-border .sb-slidebar.sb-right.opened {
    right: 30px;
}

/* Top-overlay menu on opening, header moves sideways bug. Fixed on the next line code */
/*body.be-themes-layout-layout-border-header-top.top-header.slider-bar-opened #main #header #header-inner-wrap.no-transparent.top-animate,
    body.be-themes-layout-layout-border.top-header.slider-bar-opened #main #header #header-inner-wrap.no-transparent.top-animate {
      right: 310px;
    }*/

body.be-themes-layout-layout-border-header-top.top-header:not(.top-overlay-menu).slider-bar-opened #main #header #header-inner-wrap.no-transparent.top-animate,
body.be-themes-layout-layout-border.top-header:not(.top-overlay-menu).slider-bar-opened #main #header #header-inner-wrap.no-transparent.top-animate {
    right: 310px;
}

/* Now not needed mostly, as the hero section image is coming properly */


/*Single Page Version*/
body.be-themes-layout-layout-border-header-top.single-page-version .single-page-nav-wrap,
body.be-themes-layout-layout-border.single-page-version .single-page-nav-wrap {
    right: 50px;
}

/*Split Screen Page Template*/
.top-header .layout-border #content.page-split-screen-left {
    margin-left: calc(50% + 15px);
}

.top-header.page-template-page-splitscreen-left .layout-border .header-hero-section {
    width: calc(50% - 15px);
}

.top-header .layout-border #content.page-split-screen-right {
    width: calc(50% - 15px);
}

.top-header.page-template-page-splitscreen-right .layout-border .header-hero-section {
    left: calc(50% - 15px);
}


@media only screen and (max-width: 960px) {

    body.be-themes-layout-layout-border-header-top.single-page-version .single-page-nav-wrap,
    body.be-themes-layout-layout-border.single-page-version .single-page-nav-wrap {
        right: 35px;
    }

    body.be-themes-layout-layout-border-header-top .sb-slidebar.sb-right,
    body.be-themes-layout-layout-border .sb-slidebar.sb-right {
        right: -280px;
    }

    #main.layout-border,
    #main.layout-border.layout-border-header-top {
        padding: 0px !important;
    }

    .top-header .layout-border #content.page-split-screen-left,
    .top-header .layout-border #content.page-split-screen-right {
        margin-left: 0px;
        width: 100%;
    }

    .top-header.page-template-page-splitscreen-right .layout-border .header-hero-section,
    .top-header.page-template-page-splitscreen-left .layout-border .header-hero-section {
        width: 100%;
    }
}

body,
.special-heading-wrap .caption-wrap .body-font,
.woocommerce .woocommerce-ordering select.orderby,
.woocommerce-page .woocommerce-ordering select.orderby {
    font: 400 13px "Raleway", "Open Sans", "Arial", sans-serif;
    color: #5f6263;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font: 700 55px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #222222;
    line-height: 70px;
    letter-spacing: ;
    text-transform: none;
}

h2 {
    font: 700 42px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #222222;
    line-height: 63px;
    letter-spacing: 0px;
    text-transform: none;
}

h3 {
    font: 700 35px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #222222;
    line-height: 52px;
    letter-spacing: 1px;
    text-transform: none;
}

h4,
.woocommerce-order-received .woocommerce h2,
.woocommerce-order-received .woocommerce h3,
.woocommerce-view-order .woocommerce h2,
.woocommerce-view-order .woocommerce h3 {
    font: 400 26px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #222222;
    line-height: 42px;
    letter-spacing: 0px;
    text-transform: none;
}

h5,
#reply-title {
    font: 400 20px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #222222;
    line-height: 36px;
    letter-spacing: 0px;
    text-transform: none;
}

h6,
.testimonial-author-role.h6-font,
.menu-card-title,
.menu-card-item-price,
.slider-counts,
.woocommerce-MyAccount-navigation ul li {
    font: 400 15px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #222222;
    line-height: 32px;
    letter-spacing: 0px;
    text-transform: none;
}

h6.gallery-side-heading {
    font-size: 13px;
}

.special-subtitle,
.style1.thumb-title-wrap .portfolio-item-cats {
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    font-family: Crimson Text;
    text-transform: none;
    letter-spacing: 0px;
}

.gallery-side-heading {
    font-size: 13px;
}

.attachment-details-custom-slider {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 1);
    font: Italic 400 15px "Crimson Text", "Open Sans", "Arial", sans-serif;
    color: ;
    line-height: ;
    letter-spacing: 0px;
    text-transform: none;
}

.single-portfolio-slider .carousel_bar_wrap {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
}

.top-right-sliding-menu .sb-right ul#slidebar-menu li,
.overlay-menu-close,
.be-overlay-menu-close {
    font: 400 12px "Raleway", "Open Sans", "Arial", sans-serif;
    color: #ffffff;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.top-right-sliding-menu .sb-right ul#slidebar-menu li a {
    color: #ffffff !important;
}

.top-right-sliding-menu .sb-right #slidebar-menu ul.sub-menu li {
    font: 300 13px "Raleway", "Open Sans", "Arial", sans-serif;
    color: #e8e8e8;
    line-height: 30px;
    letter-spacing: ;
    text-transform: none;
}

.top-right-sliding-menu .sb-right ul#slidebar-menu li a {
    color: #e8e8e8 !important;
}

.sb-right #slidebar-menu .mega .sub-menu .highlight .sf-with-ul {
    font: 400 12px "Raleway", "Open Sans", "Arial", sans-serif;
    color: #ffffff;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #e8e8e8 !important;
}

.post-meta.post-top-meta-typo,
.style8-blog .post-meta.post-category a,
.hero-section-blog-categories-wrap a {
    font: 12px "Raleway", "Open Sans", "Arial", sans-serif;
    color: #757575;
    line-height: 24px;
    letter-spacing: 0px;
    text-transform: uppercase;
    ;
}

#portfolio-title-nav-bottom-wrap h6,
#portfolio-title-nav-bottom-wrap .slider-counts {
    font: 400 15px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: ;
    line-height: ;
    letter-spacing: 0px;
    text-transform: none;
    ;
    line-height: 40px;
}

.filters .filter_item {
    font: 400 12px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #222222;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    ;
}

ul#mobile-menu a {
    font: 400 12px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #232323;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

ul#mobile-menu ul.sub-menu a {
    font: 400 13px "Raleway", "Open Sans", "Arial", sans-serif;
    color: #bbbbbb;
    line-height: 27px;
    letter-spacing: 0px;
    text-transform: none;
}

ul#mobile-menu li.mega ul.sub-menu li.highlight> :first-child {
    font: 400 12px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #232323;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#navigation,
.style2 #navigation,
.style13 #navigation,
#navigation-left-side,
#navigation-right-side,
.sb-left #slidebar-menu,
.header-widgets,
.header-code-widgets,
body #header-inner-wrap.top-animate.style2 #navigation,
.top-overlay-menu .sb-right #slidebar-menu,
#navigation .mega .sub-menu .highlight .sf-with-ul,
.special-header-menu .menu-container {
    font: 12px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #232323;
    line-height: 51px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#navigation .sub-menu,
#navigation .children,
#navigation-left-side .sub-menu,
#navigation-left-side .children,
#navigation-right-side .sub-menu,
#navigation-right-side .children,
.sb-left #slidebar-menu .sub-menu,
.top-overlay-menu .sb-right #slidebar-menu .sub-menu,
.special-header-menu .menu-container .sub-menu,
.special-header-menu .sub-menu {
    font: 400 13px "Raleway", "Open Sans", "Arial", sans-serif;
    color: #bbbbbb;
    line-height: 28px;
    letter-spacing: 0px;
    text-transform: none;
}

.thumb-title-wrap .thumb-title {
    font: 400 13px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: ;
    line-height: 27px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.thumb-title-wrap .portfolio-item-cats {
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
    letter-spacing: 0px;
}

.full-screen-portfolio-overlay-title {
    font: 400 13px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: ;
    line-height: 27px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

#footer {
    font: 400 13px "Raleway", "Open Sans", "Arial", sans-serif;
    color: #888888;
    line-height: 14px;
    letter-spacing: 0px;
    text-transform: none;
}

#bottom-widgets h6 {
    font: 400 12px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #474747;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#bottom-widgets {
    font: 400 13px "Raleway", "Open Sans", "Arial", sans-serif;
    color: #757575;
    line-height: 24px;
    letter-spacing: 0px;
    text-transform: none;
}

.sidebar-widgets h6 {
    font: 400 12px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #333333;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.sidebar-widgets {
    ? php be_themes_print_typography('sidebar_widget_text');
    ?>
}

.sb-slidebar .widget {
    font: 400 13px "Raleway", "Open Sans", "Arial", sans-serif;
    color: #a2a2a2;
    line-height: 25px;
    letter-spacing: 0px;
    text-transform: none;
}

.sb-slidebar .widget h6 {
    font: 400 12px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #ffffff;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: none;
}

.woocommerce ul.products li.product .product-meta-data h3,
.woocommerce-page ul.products li.product .product-meta-data h3,
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
    font: 400 13px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #222222;
    line-height: 27px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.woocommerce ul.products li.product .product-meta-data .woocommerce-loop-product__title,
.woocommerce-page ul.products li.product .product-meta-data .woocommerce-loop-product__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce-page ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product-category .woocommerce-loop-category__title,
.woocommerce-page ul.products li.product-category .woocommerce-loop-category__title {
    font: 400 13px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #222222;
    line-height: 27px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
}

.woocommerce-page.single.single-product #content div.product h1.product_title.entry-title {
    font: 400 25px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #222222;
    line-height: 27px;
    letter-spacing: 0px;
    text-transform: none;
}

.contact_form_module input[type="text"],
.contact_form_module textarea {
    font: 400 13px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #222222;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: none;
}

.page-title-module-custom .page-title-custom,
h6.portfolio-title-nav {
    font: 18px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #000000;
    line-height: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.tatsu-button,
.be-button,
.woocommerce a.button,
.woocommerce-page a.button,
.woocommerce button.button,
.woocommerce-page button.button,
.woocommerce input.button,
.woocommerce-page input.button,
.woocommerce #respond input#submit,
.woocommerce-page #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page #content input.button,
input[type="submit"],
.more-link.style1-button,
.more-link.style2-button,
.more-link.style3-button,
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
input[type="file"]::-webkit-file-upload-button {
    font-family: Montserrat;
    font-weight: 400;
}

.post-title,
.post-date-wrap {
    font: 400 20px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #000000;
    line-height: 40px;
    letter-spacing: 0px;
    text-transform: none;
    margin-bottom: 12px;
}

.style3-blog .post-title,
.style8-blog .post-title {
    font: 400 16px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #363c3b;
    line-height: 28px;
    letter-spacing: 0px;
    text-transform: none;
}

.post-nav li,
.style8-blog .post-meta.post-date,
.style8-blog .post-bottom-meta-wrap,
.hero-section-blog-bottom-meta-wrap {
    font: 400 12px "Raleway", "Open Sans", "Arial", sans-serif;
    color: #757575;
    line-height: 24px;
    letter-spacing: 0px;
    text-transform: uppercase;
}


.ui-tabs-anchor,
.accordion .accordion-head,
.skill-wrap .skill_name,
.chart-wrap span,
.animate-number-wrap h6 span,
.woocommerce-tabs .tabs li a,
.be-countdown {
    font-family: Raleway;
    letter-spacing: 0px;
    font-style: ;
    font-weight: 600;
}

.ui-tabs-anchor {
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
}

.accordion .accordion-head {
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
}

.skill-wrap .skill_name {
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
}

.countdown-section {
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
}

.countdown-amount {
    font-size: 55px;
    line-height: 95px;
    text-transform: uppercase;
}

.tweet-slides .tweet-content {
    font-family: Raleway;
    letter-spacing: 0px;
    font-style: ;
    font-weight: 400;
    text-transform: none;
}

.testimonial_slide .testimonial-content {
    font-family: Crimson Text;
    letter-spacing: 0px;
    font-style: italic;
    font-weight: 400;
    text-transform: none;
}

.oshine-animated-link,
.view-project-link.style4-button {
    font-family: Montserrat;
    font-weight: ;
    letter-spacing: ;
    font-style: ;
    text-transform: none;
}

a.navigation-previous-post-link,
a.navigation-next-post-link {
    font: 700 13px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: ;
    line-height: 20px;
    letter-spacing: 0px;
    text-transform: none;
    ;
}

@media only screen and (max-width: 767px) {

    #hero-section h1,
    .full-screen-section-wrap h1,
    .tatsu-fullscreen-wrap h1 {
        font-size: 30px;
        line-height: 40px;
    }

    #hero-section h2,
    .full-screen-section-wrap h2,
    .tatsu-fullscreen-wrap h2 {
        font-size: 25px;
        line-height: 35px;
    }

    #hero-section h4,
    .full-screen-section-wrap h4,
    .tatsu-fullscreen-wrap h3 {
        font-size: 16px;
        line-height: 30px;
    }

    #hero-section h5,
    .full-screen-section-wrap h5,
    .tatsu-fullscreen-wrap h5 {
        font-size: 16px;
        line-height: 30px;
    }

}

/* RELATED TO TYPOGRAPHY */

#header-controls-right,
#header-controls-left {
    color: #232323
}

#be-left-strip .be-mobile-menu-icon span {
    background-color: #323232
}

ul#mobile-menu .mobile-sub-menu-controller {
    line-height: 40px;
}

ul#mobile-menu ul.sub-menu .mobile-sub-menu-controller {
    line-height: 27px;
}

.breadcrumbs {
    color: #000000;
}

.search-box-wrapper.style2-header-search-widget input[type="text"] {
    font-style: italic;
    font-weight: 400;
    font-family: Crimson Text;
}

.portfolio-share a.custom-share-button,
.portfolio-share a.custom-share-button:active,
.portfolio-share a.custom-share-button:hover,
.portfolio-share a.custom-share-button:visited {
    color: #222222;
}

.more-link.style2-button {
    color: #000000 !important;
    border-color: #000000 !important;
}

.style8-blog .post-bottom-meta-wrap .be-share-stack a.custom-share-button,
.style8-blog .post-bottom-meta-wrap .be-share-stack a.custom-share-button:active,
.style8-blog .post-bottom-meta-wrap .be-share-stack a.custom-share-button:hover,
.style8-blog .post-bottom-meta-wrap .be-share-stack a.custom-share-button:visited {
    color: #757575;
}

.hero-section-blog-categories-wrap a,
.hero-section-blog-categories-wrap a:visited,
.hero-section-blog-categories-wrap a:hover,
.hero-section-blog-bottom-meta-wrap .hero-section-blog-bottom-meta-wrap a,
.hero-section-blog-bottom-meta-wrap a:visited,
.hero-section-blog-bottom-meta-wrap a:hover {
    color: #000000;
}

#navigation .mega .sub-menu .highlight .sf-with-ul {
    color: #bbbbbb !important;
    line-height: 1.5;
}

.view-project-link.style4-button {
    color: #222222;
}

.pricing-table .pricing-feature {
    font-size: 12px;
}

/* Woocommerce */

.related.products h2,
.upsells.products h2,
.cart-collaterals .cross-sells h2,
.cart_totals h2,
.shipping_calculator h2,
.woocommerce-billing-fields h3,
.woocommerce-shipping-fields h3,
.shipping_calculator h2,
#order_review_heading,
.woocommerce .page-title {
    font-family: Montserrat;
    font-weight: 400;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
    color: #222222;
}

.woocommerce-tabs .tabs li a {
    color: #222222 !important;
}


/* BB Press Plugin */

a.bbp-forum-title,
#bbpress-forums fieldset.bbp-form label,
.bbp-topic-title a.bbp-topic-permalink {
    font: 400 15px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #222222;
    line-height: 32px;
    letter-spacing: 0px;
    text-transform: none;
}

#bbpress-forums ul.forum-titles li,
#bbpress-forums ul.bbp-replies li.bbp-header {
    font: 400 15px "Montserrat", "Open Sans", "Arial", sans-serif;
    color: #222222;
    line-height: 32px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: uppercase;
    font-size: inherit;
}

#bbpress-forums .topic .bbp-topic-meta a,
.bbp-forum-freshness a,
.bbp-topic-freshness a,
.bbp-header .bbp-reply-content a,
.bbp-topic-tags a,
.bbp-breadcrumb a,
.bbp-forums-list a {
    color: #222222;
}


/*Event On Plugin*/

.ajde_evcal_calendar .calendar_header p,
.eventon_events_list .eventon_list_event .evcal_cblock {
    font-family: Montserrat !important;
}

.eventon_events_list .eventon_list_event .evcal_desc span.evcal_desc2,
.evo_pop_body .evcal_desc span.evcal_desc2 {
    font-family: Montserrat !important;
    font-size: 14px !important;
    text-transform: none;
}

.eventon_events_list .eventon_list_event .evcal_desc span.evcal_event_subtitle,
.evo_pop_body .evcal_desc span.evcal_event_subtitle,
.evcal_evdata_row .evcal_evdata_cell p,
#evcal_list .eventon_list_event p.no_events {
    text-transform: none !important;
    font-family: Raleway !important;
    font-size: inherit !important;
}

/* END RELATED TO TYPOGRAPHY */


.filters.single_border .filter_item {
    border-color: #38d2d9;
}

.filters.rounded .current_choice {
    border-radius: 50px;
    background-color: #38d2d9;
    color: #ffffff;
}

.filters.single_border .current_choice,
.filters.border .current_choice {
    color: #38d2d9;
}

.exclusive-mobile-bg .menu-controls {
    background-color: background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    ;
}

#header .be-mobile-menu-icon span {
    background-color: #323232;
}

#header-controls-right,
#header-controls-left,
.overlay-menu-close,
.be-overlay-menu-close {
    color: #323232;
}

#header .exclusive-mobile-bg .be-mobile-menu-icon,
#header .exclusive-mobile-bg .be-mobile-menu-icon span,
#header-inner-wrap.background--light.transparent.exclusive-mobile-bg .be-mobile-menu-icon,
#header-inner-wrap.background--light.transparent.exclusive-mobile-bg .be-mobile-menu-icon span,
#header-inner-wrap.background--dark.transparent.exclusive-mobile-bg .be-mobile-menu-icon,
#header-inner-wrap.background--dark.transparent.exclusive-mobile-bg .be-mobile-menu-icon span {
    background-color: #323232
}

.be-mobile-menu-icon {
    width: 18px;
    height: 2px;
}

.be-mobile-menu-icon .hamburger-line-1 {
    top: -5px;
}

.be-mobile-menu-icon .hamburger-line-3 {
    top: 5px;
}

.thumb-title-wrap {
    color: #ffffff;
}


#bottom-widgets .widget ul li a,
#bottom-widgets a {
    color: inherit;
}

#bottom-widgets .tagcloud a:hover {
    color: #ffffff;
}


a,
a:visited,
a:hover,
#bottom-widgets .widget ul li a:hover,
#bottom-widgets a:hover {
    color: #38d2d9;
}

#header-top-menu a:hover,
#navigation .current_page_item a,
#navigation .current_page_item a:hover,
#navigation a:hover,
#navigation-left-side .current_page_item a,
#navigation-left-side .current_page_item a:hover,
#navigation-left-side a:hover,
#navigation-right-side .current_page_item a,
#navigation-right-side .current_page_item a:hover,
#navigation-right-side a:hover,
#menu li.current-menu-ancestor>a,
#navigation .current-menu-item>a,
#navigation .sub-menu .current-menu-item>a,
#navigation .sub-menu a:hover,
#navigation .children .current-menu-item>a,
#navigation .children a:hover,
#slidebar-menu .current-menu-item>a,
.special-header-menu a:hover+.mobile-sub-menu-controller i,
.special-header-menu #slidebar-menu a:hover,
.special-header-menu .sub-menu a:hover,
.single-page-version #navigation a:hover,
.single-page-version #navigation-left-side a:hover,
.single-page-version #navigation-right-side a:hover,
.single-page-version #navigation .current-section.current_page_item a,
.single-page-version #navigation-left-side .current-section.current_page_item a,
.single-page-version #navigation-right-side .current-section.current_page_item a,
.single-page-version #slidebar-menu .current-section.current_page_item a,
.single-page-version #navigation .current_page_item a:hover,
.single-page-version #navigation-left-side .current_page_item a:hover,
.single-page-version #navigation-right-side .current_page_item a:hover,
.single-page-version #slidebar-menu .current_page_item a:hover,
.be-sticky-sections #navigation a:hover,
.be-sticky-sections #navigation-left-side a:hover,
.be-sticky-sections #navigation-right-side a:hover,
.be-sticky-sections #navigation .current-section.current_page_item a,
.be-sticky-sections #navigation-left-side .current-section.current_page_item a,
.be-sticky-sections #navigation-right-side .current-section.current_page_item a,
.be-sticky-sections #navigation .current_page_item a:hover,
.be-sticky-sections #navigation-left-side .current_page_item a:hover,
.be-sticky-sections #navigation-right-side .current_page_item a:hover,
#navigation .current-menu-ancestor>a,
#navigation-left-side .current-menu-ancestor>a,
#navigation-right-side .current-menu-ancestor>a,
#slidebar-menu .current-menu-ancestor>a,
.special-header-menu .current-menu-item>a,
.sb-left #slidebar-menu a:hover {
    color: #38d2d9;
}

#navigation .current_page_item ul li a,
#navigation-left-side .current_page_item ul li a,
#navigation-right-side .current_page_item ul li a,
.single-page-version #navigation .current_page_item a,
.single-page-version #navigation-left-side .current_page_item a,
.single-page-version #navigation-right-side .current_page_item a,
.single-page-version #slidebar-menu .current_page_item a,
.single-page-version #navigation .sub-menu .current-menu-item>a,
.single-page-version #navigation .children .current-menu-item>a .be-sticky-sections #navigation .current_page_item a,
.be-sticky-sections #navigation-left-side .current_page_item a,
.be-sticky-sections #navigation-right-side .current_page_item a,
.be-sticky-sections #navigation .sub-menu .current-menu-item>a,
.be-sticky-sections #navigation .children .current-menu-item>a {
    color: inherit;
}

.be-nav-link-effect-1 a::after,
.be-nav-link-effect-2 a::after,
.be-nav-link-effect-3 a::after {
    background-color: rgb(56, 210, 217);
    background-color: rgba(56, 210, 217, 1);
}


#portfolio-title-nav-wrap .portfolio-nav a {
    color: #d2d2d2;
}

#portfolio-title-nav-wrap .portfolio-nav a .home-grid-icon span {
    background-color: #d2d2d2;
}

#portfolio-title-nav-wrap .portfolio-nav a:hover {
    color: #000000;
}

#portfolio-title-nav-wrap .portfolio-nav a:hover .home-grid-icon span {
    background-color: #000000;
}

.page-title-module-custom .header-breadcrumb {
    line-height: 36px;
}

#portfolio-title-nav-bottom-wrap h6,
#portfolio-title-nav-bottom-wrap ul li a,
.single_portfolio_info_close,
#portfolio-title-nav-bottom-wrap .slider-counts {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.00);
}

.more-link.style2-button:hover {
    border-color: #38d2d9 !important;
    background: #38d2d9 !important;
    color: #ffffff !important;
}

.woocommerce a.button,
.woocommerce-page a.button,
.woocommerce button.button,
.woocommerce-page button.button,
.woocommerce input.button,
.woocommerce-page input.button,
.woocommerce #respond input#submit,
.woocommerce-page #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page #content input.button {
    background: transparent !important;
    color: #000 !important;
    border-color: #000 !important;
    border-style: solid !important;
    border-width: 2px !important;
    background:  !important;
    color: #000000 !important;
    border-width: 2px !important;
    border-color: #000000 !important;
    line-height: 41px;
    text-transform: uppercase;
}

.woocommerce a.button:hover,
.woocommerce-page a.button:hover,
.woocommerce button.button:hover,
.woocommerce-page button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page #content input.button:hover {
    background: #e0a240 !important;
    color: #fff !important;
    border-color: #e0a240 !important;
    border-width: 2px !important;
    background: #e0a240 !important;
    color: #ffffff !important;
    border-color: #e0a240 !important;

}

.woocommerce a.button.alt,
.woocommerce-page a.button.alt,
.woocommerce .button.alt,
.woocommerce-page .button.alt,
.woocommerce input.button.alt,
.woocommerce-page input.button.alt,
.woocommerce input[type="submit"].alt,
.woocommerce-page input[type="submit"].alt,
.woocommerce #respond input#submit.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page #content input.button.alt {
    background: #e0a240 !important;
    color: #fff !important;
    border-color: #e0a240 !important;
    border-style: solid !important;
    border-width: 2px !important;
    background:  !important;
    color: #000000 !important;
    border-width: 2px !important;
    border-color: #000000 !important;
    line-height: 41px;
    text-transform: uppercase;
}

.woocommerce a.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce .button.alt:hover,
.woocommerce-page .button.alt:hover,
.woocommerce input[type="submit"].alt:hover,
.woocommerce-page input[type="submit"].alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover {
    background: transparent !important;
    color: #000 !important;
    border-color: #000 !important;
    border-style: solid !important;
    border-width: 2px !important;
    background: #000000 !important;
    color: #ffffff !important;
    border-color: #000000 !important;
}

.woocommerce .woocommerce-message a.button,
.woocommerce-page .woocommerce-message a.button,
.woocommerce .woocommerce-message a.button:hover,
.woocommerce-page .woocommerce-message a.button:hover {
    border: none !important;
    color: #fff !important;
    background: none !important;
}

.woocommerce .woocommerce-ordering select.orderby,
.woocommerce-page .woocommerce-ordering select.orderby {
    border-color: #eeeeee;
}

.style7-blog .post-title {
    margin-bottom: 9px;
}

.style8-blog .post-comment-wrap a:hover {
    color: #38d2d9;
}

.style8-blog .element:not(.be-image-post) .post-details-wrap {
    background-color: #ffffff;
}

.accordion .accordion-head.with-bg.ui-accordion-header-active {
    background-color: #38d2d9 !important;
    color: #ffffff !important;
}

#portfolio-title-nav-wrap {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
}

#portfolio-title-nav-bottom-wrap h6,
#portfolio-title-nav-bottom-wrap ul,
.single_portfolio_info_close .font-icon,
.slider-counts {
    color: #2b2b2b;
}

#portfolio-title-nav-bottom-wrap .home-grid-icon span {
    background-color: #2b2b2b;
}

#portfolio-title-nav-bottom-wrap h6:hover,
#portfolio-title-nav-bottom-wrap ul a:hover,
#portfolio-title-nav-bottom-wrap .slider-counts:hover,
.single_portfolio_info_close:hover {
    background-color: rgb(56, 210, 217);
    background-color: rgba(56, 210, 217, 0.85);
}

#portfolio-title-nav-bottom-wrap h6:hover,
#portfolio-title-nav-bottom-wrap ul a:hover,
#portfolio-title-nav-bottom-wrap .slider-counts:hover,
.single_portfolio_info_close:hover .font-icon {
    color: #ffffff;
}

#portfolio-title-nav-bottom-wrap ul a:hover .home-grid-icon span {
    background-color: #ffffff;
}

/* ======================
        Layout
       ====================== */


body #header-inner-wrap.top-animate #navigation,
body #header-inner-wrap.top-animate .header-controls,
body #header-inner-wrap.stuck #navigation,
body #header-inner-wrap.stuck .header-controls {
    -webkit-transition: line-height 0.5s ease;
    -moz-transition: line-height 0.5s ease;
    -ms-transition: line-height 0.5s ease;
    -o-transition: line-height 0.5s ease;
    transition: line-height 0.5s ease;
}

.header-cart-controls .cart-contents span {
    background: #646464;
}

.header-cart-controls .cart-contents span {
    color: #f5f5f5;
}

.left-sidebar-page,
.right-sidebar-page,
.no-sidebar-page .be-section-pad:first-child,
.page-template-page-940-php #content,
.no-sidebar-page #content-wrap,
.portfolio-archives.no-sidebar-page #content-wrap {
    padding-top: 80px;
    padding-bottom: 80px;
}

.no-sidebar-page #content-wrap.page-builder {
    padding-top: 0px;
    padding-bottom: 0px;
}

.left-sidebar-page .be-section:first-child,
.right-sidebar-page .be-section:first-child,
.dual-sidebar-page .be-section:first-child {
    padding-top: 0 !important;
}

.style1 .logo,
.style4 .logo,
#left-header-mobile .logo,
.style3 .logo,
.style7 .logo,
.style10 .logo {
    padding-top: 25px;
    padding-bottom: 25px;
}

.style5 .logo,
.style6 .logo {
    margin-top: 25px;
    margin-bottom: 25px;
}

#footer-wrap {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* ======================
        Colors
       ====================== */


.sec-bg,
.gallery_content,
.fixed-sidebar-page .fixed-sidebar,
.style3-blog .blog-post.element .element-inner,
.style4-blog .blog-post,
.blog-post.format-link .element-inner,
.blog-post.format-quote .element-inner,
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product,
.chosen-container.chosen-container-single .chosen-drop,
.chosen-container.chosen-container-single .chosen-single,
.chosen-container.chosen-container-active.chosen-with-drop .chosen-single {
    background: #fafbfd;
}

.sec-color,
.post-meta a,
.pagination a,
.pagination a:visited,
.pagination span,
.pages_list a,
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
.gallery_content,
.fixed-sidebar-page .fixed-sidebar,
.style3-blog .blog-post.element .element-inner,
.style4-blog .blog-post,
.blog-post.format-link .element-inner,
.blog-post.format-quote .element-inner,
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product,
.chosen-container.chosen-container-single .chosen-drop,
.chosen-container.chosen-container-single .chosen-single,
.chosen-container.chosen-container-active.chosen-with-drop .chosen-single {
    color: #7a7a7a;
}

.woocommerce .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce #content .quantity .minus,
.woocommerce-page .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce .quantity input.qty,
.woocommerce #content .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce-page #content .quantity input.qty {
    background: #fafbfd;
    color: #7a7a7a;
    border-color: #eeeeee;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
    color: #7a7a7a !important;
}

.chosen-container .chosen-drop,
nav.woocommerce-pagination,
.summary.entry-summary .price,
.portfolio-details.style2 .gallery-side-heading-wrap,
#single-author-info,
.single-page-atts,
article.comment {
    border-color: #eeeeee !important;
}

.fixed-sidebar-page #page-content {
    background: #ffffff;
}


.sec-border,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
    border: 2px solid #eeeeee;
}

.chosen-container.chosen-container-single .chosen-single,
.chosen-container.chosen-container-active.chosen-with-drop .chosen-single {
    border: 2px solid #eeeeee;
}

.woocommerce table.shop_attributes th,
.woocommerce-page table.shop_attributes th,
.woocommerce table.shop_attributes td,
.woocommerce-page table.shop_attributes td {
    border: none;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
    border: 1px solid #eeeeee;
}

.pricing-table .pricing-title,
.chosen-container .chosen-results li {
    border-bottom: 1px solid #eeeeee;
}


.separator {
    border: 0;
    height: 1px;
    color: #eeeeee;
    background-color: #eeeeee;
}

.alt-color,
li.ui-tabs-active h6 a,
a,
a:visited,
.social_media_icons a:hover,
.post-title a:hover,
.fn a:hover,
a.team_icons:hover,
.recent-post-title a:hover,
.widget_nav_menu ul li.current-menu-item a,
.widget_nav_menu ul li.current-menu-item:before,
.woocommerce ul.cart_list li a:hover,
.woocommerce ul.product_list_widget li a:hover,
.woocommerce-page ul.cart_list li a:hover,
.woocommerce-page ul.product_list_widget li a:hover,
.woocommerce-page .product-categories li a:hover,
.woocommerce ul.products li.product .product-meta-data h3:hover,
.woocommerce table.cart a.remove:hover,
.woocommerce #content table.cart a.remove:hover,
.woocommerce-page table.cart a.remove:hover,
.woocommerce-page #content table.cart a.remove:hover,
td.product-name a:hover,
.woocommerce-page #content .quantity .plus:hover,
.woocommerce-page #content .quantity .minus:hover,
.post-category a:hover,
.menu-card-item-stared {
    color: #38d2d9;
}

a.custom-like-button.no-liked {
    color: rgba(255, 255, 255, 0.5);
}

a.custom-like-button.liked {
    color: rgba(255, 255, 255, 1);
}


.content-slide-wrap .flex-control-paging li a.flex-active,
.content-slide-wrap .flex-control-paging li.flex-active a:before {
    background: #38d2d9 !important;
    border-color: #38d2d9 !important;
}


#navigation .menu>ul>li.mega>ul>li {
    border-color: #323232;
}

.sb-slidebar.sb-right .menu {
    border-top: 1px solid #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
}

.post-title a:hover {
    color: #38d2d9 !important;
}

.alt-bg,
input[type="submit"],
.tagcloud a:hover,
.pagination a:hover,
.widget_tag_cloud a:hover,
.pagination .current,
.trigger_load_more .be-button,
.trigger_load_more .be-button:hover {
    background-color: #38d2d9;
    transition: 0.2s linear all;
}

.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.woocommerce a.add_to_cart_button.button.product_type_simple.added,
.woocommerce-page .widget_shopping_cart_content .buttons a.button:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.testimonial-flex-slider .flex-control-paging li a.flex-active,
#back-to-top,
.be-carousel-nav,
.portfolio-carousel .owl-controls .owl-prev:hover,
.portfolio-carousel .owl-controls .owl-next:hover,
.owl-theme .owl-controls .owl-dot.active span,
.owl-theme .owl-controls .owl-dot:hover span,
.more-link.style3-button,
.view-project-link.style3-button {
    background: #38d2d9 !important;
}

.single-page-nav-link.current-section-nav-link {
    background: #38d2d9 !important;
}


.view-project-link.style2-button,
.single-page-nav-link.current-section-nav-link {
    border-color: #38d2d9 !important;
}

.view-project-link.style2-button:hover {
    background: #38d2d9 !important;
    color: #ffffff !important;
}

.tagcloud a:hover,
.testimonial-flex-slider .flex-control-paging li a.flex-active,
.testimonial-flex-slider .flex-control-paging li a {
    border-color: #38d2d9;
}

a.be-button.view-project-link,
.more-link {
    border-color: #38d2d9;
}


.portfolio-container .thumb-bg {
    background-color: rgba(56, 210, 217, 0.85);
}

.photostream_overlay,
.be-button,
.more-link.style3-button,
.view-project-link.style3-button,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    background-color: #38d2d9;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #38d2d9;
}

.alt-bg-text-color,
input[type="submit"],
.tagcloud a:hover,
.pagination a:hover,
.widget_tag_cloud a:hover,
.pagination .current,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus,
#back-to-top,
.be-carousel-nav,
.single_portfolio_close .font-icon,
.single_portfolio_back .font-icon,
.more-link.style3-button,
.view-project-link.style3-button,
.trigger_load_more a.be-button,
.trigger_load_more a.be-button:hover,
.portfolio-carousel .owl-controls .owl-prev:hover .font-icon,
.portfolio-carousel .owl-controls .owl-next:hover .font-icon {
    color: #ffffff;
    transition: 0.2s linear all;
}

.woocommerce .button.alt.disabled {
    background: #efefef !important;
    color: #a2a2a2 !important;
    border: none !important;
    cursor: not-allowed;
}

.be-button,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    color: #ffffff;
    transition: 0.2s linear all;
}

input[type="file"]::-webkit-file-upload-button {
    color: #ffffff;
    transition: 0.2s linear all;
}

.button-shape-rounded #submit,
.button-shape-rounded .style2-button.view-project-link,
.button-shape-rounded .style3-button.view-project-link,
.button-shape-rounded .style2-button.more-link,
.button-shape-rounded .style3-button.more-link,
.button-shape-rounded .contact_submit {
    border-radius: 3px;
}

.button-shape-circular .style2-button.view-project-link,
.button-shape-circular .style3-button.view-project-link {
    border-radius: 50px;
    padding: 17px 30px !important;
}

.button-shape-circular .style2-button.more-link,
.button-shape-circular .style3-button.more-link {
    border-radius: 50px;
    padding: 7px 30px !important;
}

.button-shape-circular .contact_submit,
.button-shape-circular #submit {
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.view-project-link.style4-button:hover::after {
    border-color: #38d2d9;
}

.mfp-arrow {
    color: #ffffff;
    transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
}

.portfolio-title a {
    color: inherit;
}

.arrow-block .arrow_prev,
.arrow-block .arrow_next,
.arrow-block .flickity-prev-next-button {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 1);
}

.arrow-border .arrow_prev,
.arrow-border .arrow_next,
.arrow-border .flickity-prev-next-button {
    border: 1px solid #000000;
}

.gallery-info-box-wrap .arrow_prev .font-icon,
.gallery-info-box-wrap .arrow_next .font-icon {
    color: #ffffff;
}

.flickity-prev-next-button .arrow {
    fill: #ffffff;
}

.arrow-block .arrow_prev:hover,
.arrow-block .arrow_next:hover,
.arrow-block .flickity-prev-next-button:hover {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 1);
}

.arrow-border .arrow_prev:hover,
.arrow-border .arrow_next:hover,
.arrow-border .flickity-prev-next-button:hover {
    border: 1px solid #000000;
}

.gallery-info-box-wrap .arrow_prev:hover .font-icon,
.gallery-info-box-wrap .arrow_next:hover .font-icon {
    color: #ffffff;
}

.flickity-prev-next-button:hover .arrow {
    fill: #ffffff;
}

#back-to-top.layout-border,
#back-to-top.layout-border-header-top {
    right: 50px;
    bottom: 50px;
}

.layout-border .fixed-sidebar-page #right-sidebar.active-fixed {
    right: 30px;
}

body.header-transparent.admin-bar .layout-border #header #header-inner-wrap.no-transparent.top-animate,
body.sticky-header.admin-bar .layout-border #header #header-inner-wrap.no-transparent.top-animate {
    top: 62px;
}

body.header-transparent .layout-border #header #header-inner-wrap.no-transparent.top-animate,
body.sticky-header .layout-border #header #header-inner-wrap.no-transparent.top-animate {
    top: 30px;
}

body.header-transparent.admin-bar .layout-border.layout-border-header-top #header #header-inner-wrap.no-transparent.top-animate,
body.sticky-header.admin-bar .layout-border.layout-border-header-top #header #header-inner-wrap.no-transparent.top-animate {
    top: 32px;
    z-index: 15;
}

body.header-transparent .layout-border.layout-border-header-top #header #header-inner-wrap.no-transparent.top-animate,
body.sticky-header .layout-border.layout-border-header-top #header #header-inner-wrap.no-transparent.top-animate {
    top: 0px;
    z-index: 15;
}

body.header-transparent .layout-border #header #header-inner-wrap.no-transparent #header-wrap,
body.sticky-header .layout-border #header #header-inner-wrap.no-transparent #header-wrap {
    margin: 0px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.mfp-content.layout-border img {
    padding: 70px 0px 70px 0px;
}

body.admin-bar .mfp-content.layout-border img {
    padding: 102px 0px 70px 0px;
}

.mfp-content.layout-border .mfp-bottom-bar {
    margin-top: -60px;
}

body .mfp-content.layout-border .mfp-close {
    top: 30px;
}

body.admin-bar .mfp-content.layout-border .mfp-close {
    top: 62px;
}

pre {
    background-image: -webkit-repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #fafbfd 24px, #fafbfd 56px);
    background-image: -moz-repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #fafbfd 24px, #fafbfd 56px);
    background-image: -ms-repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #fafbfd 24px, #fafbfd 56px);
    background-image: -o-repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #fafbfd 24px, #fafbfd 56px);
    background-image: repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #fafbfd 24px, #fafbfd 56px);
    display: block;
    line-height: 28px;
    margin-bottom: 50px;
    overflow: auto;
    padding: 0px 10px;
    border: 1px solid #eeeeee;
}

.post-title a {
    color: inherit;
}

/*Animated link Typography*/


.be-sidemenu,
.special-header-menu a::before {
    background-color: rgb(26, 26, 26);
    background-color: rgba(26, 26, 26, 1);
}

/*For normal styles add the padding in top and bottom*/
.be-themes-layout-layout-border .be-sidemenu,
.be-themes-layout-layout-border .be-sidemenu,
.be-themes-layout-layout-border-header-top .be-sidemenu,
.be-themes-layout-layout-border-header-top .be-sidemenu {
    padding: 30px 0px;
    box-sizing: border-box;
}

/*For center-align and left-align overlay, add padding to all sides*/
.be-themes-layout-layout-border.overlay-left-align-menu .be-sidemenu,
.be-themes-layout-layout-border.overlay-center-align-menu .be-sidemenu,
.be-themes-layout-layout-border-header-top.overlay-left-align-menu .be-sidemenu,
.be-themes-layout-layout-border-header-top.overlay-center-align-menu .be-sidemenu {
    padding: 30px;
    box-sizing: border-box;
}

.be-themes-layout-layout-border-header-top .be-sidemenu {
    padding-top: 0px;
}

body.perspective-left.perspectiveview,
body.perspective-right.perspectiveview {
    background-color: rgb(26, 26, 26);
    background-color: rgba(26, 26, 26, 1);
}

body.left-header.perspective-right.perspectiveview {
    background-color: rgb(8, 8, 8);
    background-color: rgba(8, 8, 8, 0.94);
}

body.perspective-left .be-sidemenu,
body.perspective-right .be-sidemenu {
    background-color: transparent;
}


/*Portfolio navigation*/


.loader-style1-double-bounce1,
.loader-style1-double-bounce2,
.loader-style2-wrap,
.loader-style3-wrap>div,
.loader-style5-wrap .dot1,
.loader-style5-wrap .dot2,
#nprogress .bar {
    background: #38d2d9 !important;
}

.loader-style4-wrap {
    border-top: 7px solid rgba(56, 210, 217, 0.3);
    border-right: 7px solid rgba(56, 210, 217, 0.3);
    border-bottom: 7px solid rgba(56, 210, 217, 0.3);
    border-left-color: #38d2d9;
}

#nprogress .spinner-icon {
    border-top-color: #38d2d9 !important;
    border-left-color: #38d2d9 !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #38d2d9, 0 0 5px #38d2d9 !important;
}

.style1 #navigation,
.style3 #navigation,
.style4 #navigation,
.style5 #navigation,
#header-controls-left,
#header-controls-right,
#header-wrap,
.mobile-nav-controller-wrap,
#left-header-mobile .header-cart-controls,
.style6 #navigation-left-side,
.style6 #navigation-right-side,
.style7 #navigation {
    line-height: 100px;
}

body.header-transparent #header-wrap #navigation,
body.header-transparent #header-wrap #navigation-left-side,
body.header-transparent #header-wrap #navigation-right-side,
body.header-transparent #header-inner-wrap .header-controls,
body.header-transparent #header-inner-wrap #header-controls-left,
body.header-transparent #header-inner-wrap #header-controls-right,
body.header-transparent #header-inner-wrap #header-wrap,
body.header-transparent #header-inner-wrap .mobile-nav-controller-wrap {
    line-height: 100px;
}

body #header-inner-wrap.top-animate #navigation,
body #header-inner-wrap.top-animate #navigation-left-side,
body #header-inner-wrap.top-animate #navigation-right-side,
body #header-inner-wrap.top-animate .header-controls,
body #header-inner-wrap.top-animate #header-wrap,
body #header-inner-wrap.top-animate #header-controls-right,
body #header-inner-wrap.top-animate #header-controls-left {
    line-height: 100px;
}

.header-transparent #content.page-split-screen-left,
.header-transparent #content.page-split-screen-right {}

#navigation-left-side {
    padding-right: 165px;
}

#navigation-right-side {
    padding-left: 165px;
}


#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
    border-top: 1px solid #eeeeee;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
    border: 1px solid #eeeeee;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer,
.menu-card-item.highlight-menu-item {
    background: #fafbfd;
}

#bbpress-forums .topic .bbp-topic-meta a:hover,
.bbp-forum-freshness a:hover,
.bbp-topic-freshness a:hover,
.bbp-header .bbp-reply-content a:hover,
.bbp-topic-tags a:hover,
.bbp-breadcrumb a:hover,
.bbp-forums-list a:hover {
    color: #38d2d9;
}

div.bbp-reply-header,
.bar-style-related-posts-list,
.menu-card-item {
    border-color: #eeeeee;
}


#evcal_list .eventon_list_event .evcal_desc span.evcal_event_title,
.eventon_events_list .evcal_event_subtitle {
    padding-bottom: 10px !important;
}

.eventon_events_list .eventon_list_event .evcal_desc,
.evo_pop_body .evcal_desc,
#page-content p.evcal_desc {
    padding-left: 100px !important;
}

.evcal_evdata_row {
    background: #fafbfd !important;
}

.eventon_events_list .eventon_list_event .event_description {
    background: #fafbfd !important;
    border-color: #eeeeee !important;
}

.bordr,
#evcal_list .bordb {
    border-color: #eeeeee !important;
}

.evcal_evdata_row .evcal_evdata_cell h3 {
    margin-bottom: 10px !important;
}

/**** Be single portfolio - overflow images ****/

/*  Optiopn Panel Css */
.gallery_content {
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2);
}

.single-page-nav-link {
    background: none;
    border: 1px solid #999;
}

.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}